<!-- HTML Code for Footer -->
<footer class="container-fluid">
	<div class="icons-footer">
		<a href="#">
			<span class="social_network_icon social_facebook_circle"></span>
		</a>
		<a href="#">
			<span class="social_network_icon social_instagram_circle"></span>
		</a>
		<a href="#">
			<span class="social_network_icon social_twitter_circle"></span>
		</a>
	</div>

	<div class="text-footer">
		<ul>
			<li> © ördertaker ALL RIGHTS RESERVED 2017 </li>
			<li> © Images by JOLLIBEE, MCDONALDS, KFC </li>
			<li> © Icon fonts by ELEGANTTHEMES.COM </li>
		</ul>
	</div>

</footer>