<!-- Home page sections -->

<div id="section1" class="container-fluid">
  <h2>About</h2>
  <br>
  <h6>What is ördertaker?</h6>
  <br>
  <h6>	A non-profit initiative to collect orders for food delivery from multiple users.
  		The name was inspired by a song written by Parokya ni Edgar.
  		<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#lyrics">
  			<h6 style="font-size: 2em"> See more </h6>
  		</button>
  </h6>
  <br>  
  <h6 id="lyrics" class="collapse" style="text-align: center; font-style: italic;">
  		Hoy! wala na bang ma-o <br>
  		Wala na bang ma-order, ma-order <br>
		Shet! Meron ngang menu <br>
		Wala namang ma-order, oh waiter <br>
		Sana naman may Siopao lang man o burger <br>
		Pa-order! Pa-order! Pa-order <br>
  		<br>
  </h6>
</div>

<div id="section2" class="container-fluid">
  <h2>How to order</h2>
  <br>
  <h6>It's easy and free of charge!</h6>
  <br>
  <h6 class="steps">
  	<span class="glyphicon glyphicon-check"></span>
  	Log in or sign up
  </h6>
  <h6 class="steps">
  	<span class="glyphicon glyphicon-search"></span>
  	Filter the menu and choose
  </h6>
  <h6 class="steps">
  	<span class="glyphicon glyphicon-shopping-cart"></span>
  	Add to cart and customize
  </h6>
  <h6 class="steps">
  	<span class="glyphicon glyphicon-ruble"></span>
  	Pay the ordertaker
  </h6>
  <br><br>
</div>

<div id="section3" class="container-fluid">
  <h2>Reviews</h2>
  <br>
  <h6>Kris Aquino: </h6>
  <br>
  <h6 class="comment">Bimby asked me, what is sulit? </h6>
  <h6 class="comment">I said, placing an order in ördertaker.</h6>
  <br>
  <h6 class="comment">It saves time at minimized ang human error. </h6>
  <h6 class="comment">Di mo na kelangan icompute ang delivery charge. </h6>
  <br>
  <h6 class="comment">One time, umorder kami sa foodpanda. </h6>
  <h6 class="comment">Kinain daw ng panda yung food! Nakakaloka! </h6>
  <br><br>
  <h6>Sarah Geronimo: </h6>
  <br>
  <h6 class="comment">Nakarating ka na ba sa white sand beach ng Boracay? </h6>
  <h6 class="comment">Naka-ipon ako dahil sa ördertaker, salamat po!</h6>
  <br><br>
  <h6>Piolo Pascual: </h6>
  <br>
  <h6 class="comment">Shet! Ang gwapo ni Piolo! </h6>
  <br><br>
</div>