/*Formatting for sections partial*/

#section1 {
  padding-top: 80px;
  min-height: 500px;
  color: #fff; 
  background-color: #ff611d;
}

#section2 {
  padding-top: 80px;
  min-height:500px;
  color: #fff; 
  background-color: #ffb80e;
}

#section3 {
  padding-top: 80px;
  min-height:500px; 
  color: #fff; 
  background-color: #982121;
}

#section2 span,
#section3 h6 {
  text-indent: 2em;
}

#section2 .steps {
  margin: 10px;
  font-size: 2.5em;
}

#section3 .comment {
  text-indent: 4em;
  font-size: 2em;
}