/*Stylesheet applied for all pages*/

/*Fastfood color palette*/
/*#982121 darkred*/
/*#ff611d orange*/
/*#e32929 red*/
/*#ffb80e yellow*/
/*#813531 brown*/

/*No white margin for html body*/
body {
	margin: 0;
}

/*This is a fix for white space in right side*/
/*html, body {
  overflow-x: hidden;
}*/

/*Initially hidden*/
#countdown,
#js-pages{
	display: none;
}

/*General font formatting*/
h1,
h2,
h3,
h4,
h5,
h6 {
	color: white; 
	margin:0; 
	padding:0;
}
h1 {
	font-family: baloo; 
}
h2 {
	font-family: poppinsbold; 
	font-size: 60px;
}
h3 {
	font-family: poppinssemibold; 
}
h4 {
	font-family: poppinsmedium; 
}
h5 {
	font-family: poppinsregular; 
}
h6 {
	font-family: poppinslight; 
	font-size: 3em;
}


/*Welcome box formatting*/
#welcomebg {
	width: 100%;
	background-image: url("../img/background/chicken_bg_240.gif");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#welcomebg > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
/*specify aspect ratio h/w*/
#welcomebg:before {
	content: "";
	float: left;
	padding-bottom: 50%;
	clear: both;
}
/*this is a clearfix. */
#welcomebg:after {
    content: "";
    display: table;
    clear: both;
}

/*format for bigger screens */
@media screen and (min-width: 768px) {
	#welcomebg {
	background-image: url("../img/background/chicken_bg_480.gif");
	}
	
}



