.popover-title {
    color: #777;
    font-size: 15px;
    text-align: center;
}

#menu-header {
	background: #e32929;
}

#menu-user,
#menu-logout,
#menu-brand,
#menu-home {
	padding: 20px 15px;
}

#menu-brand {
	margin-left: -5px;
	font-family: baloo; 
	font-size: 3em;
	color: white;
}
/*#menu-brand:focus {
	color: white;
}*/

#menu-brand:hover {
	color: orange;
}

#menu-home {
	font-family: "poppinsmedium";
    font-size: 1.5em;
    color: white;
}

#menu-logout,
#menu-home {
	margin-right: 30px;
}

#menubg {
	width: 100%;
	min-height: 100vh;
	background: rgba(255,184,14,0.8);
	overflow-y: auto;
}

#cartbox {
	/*width: 100%;*/
	width: 300px;
	min-height: 380px;
	background-color: #982121;
	background-size: cover;
	/*overflow-y: auto;*/
	padding: 10px;
	border-radius: 10px;
	/*box-sizing: border-box;*/
	margin: 160px 10px 20px;
	text-align: center;
}

#cartbox h1,
#cartbox p  {
	font-family: poppinsmedium;
	font-size: 2.5em;
}

#menu-logout button,
#menu-home button {
	background: transparent;
	border: 1px solid transparent;
}

button:focus {
	outline:0;
}

.itembox{
	background: rgba(255,97,29,0.5);
	/*background:#ff611d;
	opacity: 0.5;*/
	width: 300px;
	text-align: center;
	color: white;
	padding: 10px;
	margin: 10px;
	box-sizing: content-box;
	/*font-family: cursive;*/
	font-family: poppinsregular;
	font-size: 1.2em;
	float: left;
	border-radius: 10px;
	display: inline-block;
	height: 360px;
	/*height: auto;*/
}

#menubox {
	position: relative;
}

#menu {
	top: 100px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 680px;
}

form {
	text-align: center;
}

.clear:after {
  	content: "";
  	display: block;
  	clear: both;
}

form input,
form select,
#submit_btn {
	height: 35px;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
}

form span {
	/*font-size: 40px;
	font-family: fantasy;
	color: orange;*/
}
